.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.course-container {
  padding-top: 60px;
  display: flex;
  align-items: stretch;
  padding: 30 px;
}

.selectedCourse {
  padding: 50px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.listElement:hover {
  background-color: #aeb6bf;
  transition: 0.7s;
  color: black;
  font-size: 18px;
  cursor: pointer;
}
.course-view {
  padding-top: 5px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.my-form .form-group label{
  display: block;
  padding-bottom: 5px;
}
.my-form .form-group .textarea{
  padding-top: 15px;
  width: 100%;
}
.my-form .button{
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
}
.my-form p{
  color: red;
  margin-bottom: 0;
  padding-bottom: 0;
}
.course-view {
  margin-left: 10px;
}
.noCourseTxt { 
 width: 90%;
 font-size: 50px;
}

.appbar {
  background-color: #2196f3;
}
.score {
  text-align: center !important;
}

