body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}
.App {
  text-align: center;
}

.comment-text {
  font-style: italic;
}

.site-title {
  font-size: 24px;
  text-transform: uppercase;
  margin: auto;
}

.body-container {
  padding-top: 60px;
  display: flex;

  /*align-items: stretch;*/
  /* padding: 30px; */
}



.selectedCourse {
  padding: 50px;
  border: 2px solid #333;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 11px;
  overflow: auto;
  height: 80%;
}
.listElement:hover {
  background-color: #aeb6bf;
  transition: 0.7s;
  color: black;
  font-size: 18px;
  cursor: pointer;
}
.course-view {
  padding-top: 5px;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 10px;
}

.noCourseTxt {
  width: 90%;
  font-size: 50px;
}

.appbar {
  background-color: #2196f3;
}
.score {
  text-align: center !important;
}

/*comment-form*/

.my-form .form-group label {
  display: block;
  padding-bottom: 5px;
}
.my-form .form-group .textarea {
  padding-top: 15px;
  width: 100%;
}

.button{

  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.my-form p {
  color: red;
  margin-bottom: 0;
  padding-bottom: 0;
}


/*rating bar*/

.checked {
  color: orange;
}

.commentWriter {
  color: #117743;
}

/*layout styling*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.some-page-wrapper {
  margin: 70px;
  background-color: #fff;
}

